@font-face {
  font-family: 'pizza1';
  src: url(./fonts/SpicyPizza.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.body {
  margin: 0px;
}
/*/ Header panell /*/
.header {
  display: flex;
  font-family: 'pizza1';
  background: rgb(233, 233, 233);
  justify-content: center;
  border: 10px solid gold;
}

.logopizza {
  height: 80px;
  width: 80px;
  padding-left: 5px;
  padding-top: 3px;
}

.nametitle {
  text-align: center;
  flex-grow: 1;
  font-size: 70px;
  color: orange;
  text-shadow: rgb(85, 82, 82) 1px 0 10px;
  justify-content: center;
  padding-top: 10px;
  
  
}

.buttons1 {
  display: flex;
  gap: 5px;
  padding-top: 25px;
  padding-right: 15px;
  flex-wrap: wrap;
  
}

.signup {
  font-size: 22px;
  font-family: 'pizza1';
  color: white;
  background: orange;
  border: 0px;
  border-radius: 8px;
  height: 40px;
  width: 100px;
  
}

.signup:hover {
  color: rgb(0, 0, 0);
}
.reg {
  font-size: 22px;
  font-family: 'pizza1';
  color: white;
  background: orange;
  border: 0px;
  border-radius: 8px;
  height: 40px;
  width: 100px;
}
.reg:hover {
  color: rgb(0, 0, 0);
}


.hero {
  display: flex;
  justify-content: center;
  background: gold;
  background-size: cover;
}

.navigator {
  display: flex;
  padding-top: 100px;
  padding-bottom: 300px;
  flex-wrap: wrap;
  gap: 40px;
  
}

.navone {
  display: block;
  
}

.pizza1 {
  height: 400px;
  width: 500px;
  background-image: url(./images/pizza1.jpg);
  background-size: cover;
  border: 0px;
  transition: transform 0.2s ease-in-out;
}
.pizza1:hover {
  transform: scale(1.1);
}
.navtone {
  font-family: 'pizza1';
  font-size: 40px;
  text-align: center;
  
}

.pizza2 {
  height: 400px;
  width: 500px;
  background-image: url(./images/pizza2.jpg);
  background-size: cover;
  border: 0px;
  transition: transform 0.2s ease-in-out;
}
.pizza2:hover {
  transform: scale(1.1);
}
.navttwo {
  font-family: 'pizza1';
  font-size: 40px;
  text-align: center;
  
}

.pizza3 {
  height: 400px;
  width: 500px;
  background-image: url(./images/pizza3.jpg);
  background-size: cover;
  border: 0px;
  transition: transform 0.2s ease-in-out;
}
.pizza3:hover {
  transform: scale(1.1);
}
.navtthree {
  font-family: 'pizza1';
  font-size: 40px;
  text-align: center;
  
}

.bottomb {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(233, 233, 233);
}
.bottext {
  font-size: 20px;
}

.links {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 10px;
}

.instagram {
  background-image: url(./images/instaicon.png);
  background-size: cover;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  border: 0px;
  transition: transform 0.2s ease-in-out;
}
.instagram:hover {
  transform: scale(1.1);
}

.facebook {
  background-image: url(./images/facebicon.png);
  background-size: cover;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  border: 0px;
  transition: transform 0.2s ease-in-out;
}
.facebook:hover {
  transform: scale(1.1);
}

@media (max-width: 1611px) {

.nametitle {
  font-size: 50px;
}
.pizza1 {
  width: 400px;
  height: 300px;
}
.pizza2 {
  width: 400px;
  height: 300px;
}
.pizza3 {
  width: 400px;
  height: 300px;
}
.navigator {
  justify-content: center;
}

}